.photo-card {
    filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.3));
    .inner {
        transform: rotate(30deg);
        width: 200px;
        height: 200px;
        border: 15px solid white;
        border-bottom: 60px solid white;
    }

    .caption {
        color: black;
        font-size: 14px;
        font-family: "Gloria Hallelujah", Arial;
        line-height: 1;

    }

    img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
}
