{# Base #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Happy Holidays!</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="msapplication-TileColor" content="#ec552f">
        <meta name="theme-color" content="#ffffff">

        <script src="/js/sjcl.js" charset="utf-8"></script>
        <script src="/js/auth.js" charset="utf-8"></script>
    </head>
    <body>
        <input type="text" value="{{ correct }}" class="correct" hidden/>
    </body>
</html>
